services:
  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - flask

  flask:
    build: ./app
    container_name: flask
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=flask_user
      - DB_PASSWORD=flask_password
      - DB_NAME=flask_db
    volumes:
      - ./app:/app
    expose:
      - "5050"
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
      - MYSQL_DATABASE=flask_db
      - MYSQL_USER=flask_user
      - MYSQL_PASSWORD=flask_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql_data:


